<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<input type="text" th:name="id" th:value="${member.id}" name="id" readonly><br>
<input type="text" th:name="memberEmail" th:value="${member.memberEmail}" readonly><br>
<input type="text" th:name="memberPassword" th:value="${member.memberPassword}"><br>
<input type="text" th:name="memberName" th:value="${member.memberName}"><br>
<input type="date" th:name="memberBirth" th:value="${member.memberBirth}"><br>
<input type="text" th:name="memberMobile" th:value="${member.memberMobile}"><br>
<input type="button" onclick="update()" value="수정하기">
</body>
<script>
    const update = (id) => {
        const memberId = document.querySelector('input[name="id"]').value;
        const email = document.querySelector('input[name="memberEmail"]').value;
        const password = document.querySelector('input[name="memberPassword"]').value;
        const name = document.querySelector('input[name="memberName"]').value;
        const birth = document.querySelector('input[name="memberBirth"]').value;
        const mobile = document.querySelector('input[name="memberMobile"]').value;
        axios({
            method: "put",
            url: "/member/update/axios",
            data: {
                id: memberId,
                memberEmail: email,
                memberPassword: password,
                memberName: name,
                memberBirth: birth,
                memberMobile: mobile
            }
        }).then(res => {
            console.log("res", res);
            location.href = "/member/";
        }).catch(err => {
            console.log("err", err);
        });
    }

</script>
</html>